<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:label="Quản Lý Trọ"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".auth.CreateTenantAccountActivity" />
        <activity android:name=".rooms.RoomsActivity" />
        <activity android:name=".rooms.detail.RoomDetailActivity" />
        <activity android:name=".buildings.BuildingsActivity" />
        <activity android:name=".buildings.BuildingRoomsActivity" />
        <activity android:name=".buildings.BuildingDetailActivity" />
        <activity android:name=".contracts.ContractsActivity" />
        <activity android:name=".tenants.TenantsActivity" />
        <activity android:name=".tenants.detail.TenantDetailActivity" />
        <activity android:name=".incidents.IncidentsActivity" />
        <activity android:name=".incidents.CreateIncidentActivity" />
        <activity android:name=".guest.GuestEntriesActivity" />
        <activity android:name=".guest.LandlordGuestReviewActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".billing.BillingActivity" />
        <activity android:name=".reports.ReportsActivity" />
    </application>

</manifest>
